<ng-template [ngIf]="isLoading">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>#{{pokemon[0].id}} {{pokemon[0].name}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ng-template>

<ion-content [fullscreen]="true">
  <ng-template [ngIf]="isLoading">
    <section class="info {{pokemon[0].types[0].type.name}}">
      <div class="alternar">
        <ion-icon name="female"></ion-icon>
        <ion-toggle [(ngModel)]="genero" (ionChange)="mudar()" color="light"></ion-toggle>
        <ion-icon name="male"></ion-icon>
        <ion-icon name="sparkles-outline"></ion-icon>
        <ion-toggle [(ngModel)]="brilhante" (ionChange)="change()" color="light"></ion-toggle>
      </div>

      <div>
        <div *ngIf="genero && brilhante" class="infoimg">
          <img [src]="pokemon[0].sprites.front_default">
          <img [src]="pokemon[0].sprites.back_default">

        </div>

        <div *ngIf="!genero && brilhante" class="infoimg">
          <img [src]="pokemon[0].sprites.front_female">
          <img [src]="pokemon[0].sprites.back_female">
        </div>

        <div *ngIf="!brilhante && genero" class="infoimg">
          <img [src]="pokemon[0].sprites.front_shiny">
          <img [src]="pokemon[0].sprites.back_shiny">
        </div>

        <div *ngIf="!genero && !brilhante" class="infoimg">
          <img [src]="pokemon[0].sprites.front_shiny_female">
          <img [src]="pokemon[0].sprites.back_shiny_female">
        </div>
      </div>
      <!-- 
     <audio src="{{pokemon[0].cries.latest}}"  autoplay ></audio>
    -->
      <ion-grid>
        <ion-row>
          <ion-col>Peso ⏲</ion-col>
          <ion-col>Tipo</ion-col>
          <ion-col>Altura 📏</ion-col>
        </ion-row>
        <ion-row>
          <ion-col> <strong>{{pokemon[0].weight}}</strong> </ion-col>
          <ion-col>
            <ul class="tipos">
              <li type="none" *ngFor="let value of pokemon[0].types" class="{{value.type.name}}">
                {{value.type.name}}
              </li>
            </ul>
          </ion-col>
          <ion-col> <strong>{{pokemon[0].height}}</strong> </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <h1>Descrição</h1>
    <div class="descricao {{pokemon[1].color.name}}">
      <h3>{{pokemon[1].genera[7].genus}}</h3>
      <p> <strong> {{pokemon[1].flavor_text_entries[10].flavor_text}} </strong>
      </p>
    </div>

    <div class="Habilidades">
      <h1>Habilidades</h1>
      <ol>
        <li *ngFor="let value of pokemon[0].abilities">{{value.ability.name}}</li>
      </ol>
    </div>

    <section class="stats">
      <h1>Stats</h1>
      <table>
        <tr *ngFor="let value of pokemon[0].stats">
          <td>{{value.stat.name}}</td>
          <td>{{value.base_stat}} <progress class="progress-bar" value="{{value.base_stat}}" max="250"></progress> 250
          </td>
        </tr>
      </table>
    </section>

    <h1>Fraquezas</h1>


    <h1>Ataques</h1>
    <section>
      <ion-chip *ngFor="let value of pokemon[0].moves">{{value.move.name}}</ion-chip>
    </section>


  </ng-template>
</ion-content>