<ion-header>
  <ion-toolbar>
    <ion-button (click)="voltar()" fill="clear"> <ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Crie sua conta</h1>
  <div class="formulario" >
    
  <form (submit)="register()">
  
    <ion-item>
      <h4>Escolha seu email</h4>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <h4>Escolha sua senha</h4>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button expand="full" shape="round" type="submit">Cadastrar</ion-button>
  </form>
  </div>
</ion-content>